.*
*~
bazel-*
build/*
build
build.debug
build.release
bin/*
lib/*
var/*
venv*
cmake-build-debug/*
tests/integration/conf/*
**/__pycache__/*
tests/bench/log/*
tests/integration/integration
tests/integration/log
!.git*
!.clang-format
!.circleci
!.drone.yml

sdk/python/pyproximabe/proto/*
!sdk/python/pyproximabe/proto/__init__.py
sdk/python/dist/
sdk/python/pyproximase.egg-info/

GPATH
GRTAGS
GTAGS
sdk/python/pyproximabe/version.py
deps/thirdparty/sqlite/sqlite-*

docs/public/
docs/resources/
docs/node_modules/
docs/package-lock.json
